<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DraftDay</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <h1>NBA DraftDay</h1>

    <img src="" alt="NBA Team Logos" class="logo">


    <div class="board">
        <% for(const players of nbaPlayers) { %>
            <div class="prospect">
                <img src="<%= players.Image %> " alt="" class="img">
                <p>Name: <%= players.Name %>
                </p>
                <p>Position: <%= players.Position %>
                </p>
                <p>
                    <%= players.League_School %>
                </p>
                <p>Height: <%= players.Height %>
                </p>
                <p>Weight: <%= players.Weight %>
                </p>
                <div class="stats">
                    Stats
                    <p>FG: <%= players.FG %>% </p>
                    <p>PTS: <%= players.PTS %> </p>
                    <p>AST: <%= players.AST %> </p>
                    <p>REB: <%= players.REB %> </p>
                    <p>STL: <%= players.STL %> </p>
                    <p>BLK: <%= players.BLK %> </p>
                    <p>TO: <%= players.TO %> </p>

                    HIGHLIGHT: <IFrame src="<%= players.Highlight %> " class="video"></IFrame>
                  
                    "Notes": "Thoughts? Add them here."
                </div>


                <% } %>
            </div>
    </div>
</body>

</html>